.footer {
    border-top: 1px solid black;
    margin-top: 30px;

    .deleteAll {
        margin-top: 20px;
        margin-bottom: 10px;
        background: none;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
        color: rgb(50, 13, 0);
        cursor: pointer;
    }

    .deleteAll:active {
        background: white;
    }
    .deleteAll:disabled {
        color: rgb(51, 51, 51);
        border: 1px solid rgb(51, 51, 51);
        background: none;
    }

    .text {
        font-size: 18px;
        font-weight: 700;
    }
}